@import "tailwindcss";

:root {
  --foreground: #1f1e22;
}

@theme inline {
  --color-foreground: var(--foreground);
  --font-sans: var(--font-onest);
}

html,
body {
  background-color: #f5f5f5;
  color: var(--foreground);
}
